@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap');

/*#2F575D  #c4cdc1  #DEE1DD f6ab84*/

body {
    text-align: center;
}

header {
    margin: 0;
}

/*---------------------------------------------------------------------Background*/

.bg-section {
    background-color: #f7a983;
}

.bg-color-offer {
    background-color: #f7a983;
}

.bg-welcome {
    background: url("../images/skincare5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55em;
}

.bg-navbar {
    background-color: #f7a983;
}

.bg-reviews {
    background-color: #f5f5f5;
}

.bg-inquiry {
    background: url("../images/skincare3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55em;
}

/*---------------------------------------------------------------------Home*/

.welcome {
    display: block;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #f5f5f5;
    position: relative;
    top: 48%;
}

.btn-outline-light:hover {
    color: #f7a983;
}

.only-mobile {
    display: none;
}

.mooncakeimg {
    width: 45%;
    height: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.offer-heading {
    text-align: center;
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 200%;
    word-spacing: 5px;
    margin-top: 15%;
    text-transform: uppercase;
}

.offer {
    text-align: center;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    margin: 0px 5px 0px 5px;
}

.offer-link {
    color: #f5f5f5;
    text-decoration: underline;
}

.offer-link:hover {
    color: #D4D4D4;
}

/*---------------------------------------------------------------------Navbar*/

.navbar-title {
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 150%;
}

.navbar-title:hover {
    color: #d4d4d4;
}

.navbar-subtitle li a {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.navbar-subtitle li a:hover {
    color: #d4d4d4;
}

.nav-hr {
    margin: 0;
    border-color: #f5f5f5;
}

/*--------------------------------------------------------------------About Us Section*/
/*-----------------------------------------------------------About Us*/

.aboutusimg {
    margin-top: 30px;
}

.aboutus-heading {
    margin-top: 30px;
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
}

.aboutus-text {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    padding: 0 30px;
    margin-top: 15px;
}

/*-----------------------------------------------------------Why Us*/

.table-bordered > tbody > tr > td {
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.whyus-heading {
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------Reviews*/

.reviewsheading {
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.customerimg {
    border-radius: 50%;
    border-color: 2px solid #f7a983;
    margin-top: 10px;
}

.customertext {
    color: #f7a983;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------------------------------------------------------------End of About Us Section*/

/*--------------------------------------------------------------------Products*/

.productstoggle a {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.productstoggle a:hover {
    color: #d4d4d4;
    text-decoration: none;
}

.productsimg {
    margin-top: 20px;
}

.last-productimg {
    margin-bottom: 20px;
}

.products-title {
    margin-top: 50px;
    text-align: cent3er;
    color: #f5f5f5;
    font-family: "Lobster",sans-serif;
}

.products-subtitle {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    font-weight: 500;
}

.products-detail {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    margin-top: 10px;
}

.price {
    margin-left: 10px;
    text-decoration: none;
}

/*--------------------------------------------------------------------Home Treatment*/

.nanogun-img div img {
    margin-top: 30px;
}

.nanogun-img div div h5 {
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: 40px;

}

.nano-title {
    margin-top: 30px;
    font-family: "Lobster", sans-serif;
    color: #f5f5f5;
    font-size: 20px;
    margin-left: 10px;
}

.nano-details li {
    list-style-type: circle;
    color: #f5f5f5;
}

.nano-details li p {
    margin-top: 20px;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.serum-heading {
    font-family: "Lobster", sans-serif;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.serum-subtitle {
    font-family: "Lobster", sans-serif;
    color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
}

.serum-details {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.last-serum-img {
    margin-bottom: 30px;
}

/*--------------------------------------------------------------------Contact*/

.inquiry-title {
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    margin-top: 15%;
    text-decoration: underline;
}

.inquiry-text {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.form-group {
    padding: 0 5em 0 5em;
}

.form-title {
    color: #f5f5f5;
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

form button {
    margin-bottom: 30px;
}

.media-inquiry {
    list-style-type: none;
    position: relative;
    top: 28%;
    right: 65px;
}

.media-inquiry li {
    margin-top: 50px;
}

.media-inquiry li a {
    color: #f5f5f5;
    font-size: 25px;
}

.media-inquiry li a em {
    margin-left: 10px;
    font-size: 18px;
}

/*---------------------------------------------------------------------Footer*/

.footer-hr {
    margin: 0;
    border-color: #f7a983;
}

.socialmedia li a i {
    margin-top: 1em;
    font-size: 22px;
    margin-right: 30px;
    color: #f7a983;
}

.general-sub li a p {
    color: #f7a983;
    margin-top: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.hov-footer:hover {
    text-decoration: none;
    color: #d4d4d4;
}

/* ----------------------------------------Media Queries */

@media(max-width: 768px) {
    .only-mobile {
        display: block;
    }

    .products-title {
        margin-top: 10px;
    }

    .productsimg {
        width: 100%;
    }
}