@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    text-align: center;
}

header {
    margin: 0;
}

/*---------------------------------------------------------------------Background*/

.bg-navbar, .bg-footer {
    background-color: #F9BC9D;
}

.bg-section, .bg-color-offer {
    background-color: #f7a983;
}

.bg-welcome {
    background: url("../images/skincare5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55em;
}

.bg-serum {
    background-color: #FEF9F6;
}

.bg-inquiry {
    background: url("../images/skincare3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55em;
}

/*---------------------------------------------------------------------Navbar*/

.navbar-title {
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 150%;
}

.navbar-title:hover {
    color: #F79683;
}

.navbar-subtitle li a {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.navbar-subtitle li a:hover {
    color: #F79683;
}

.nav-hr {
    margin: 0;
    border-color: #FEF9F6;
}

/*---------------------------------------------------------------------Home*/

.welcome {
    display: block;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #FEF9F6;
    position: relative;
    top: 48%;
}

.btn-outline-light:hover {
    color: #F27536;
}

.only-mobile {
    display: none;
}

.mooncakeimg {
    width: 45%;
    height: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.offer-heading {
    text-align: center;
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-size: 200%;
    word-spacing: 5px;
    margin-top: 15%;
    text-transform: uppercase;
}

.offer {
    text-align: center;
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    margin: 0px 5px 0px 5px;
}

.offer-link {
    color: #FEF9F6;
    text-decoration: underline;
}

.offer-link:hover {
    color: #F27536;
}

.all-products {
    color: #FEF9F6;
}

.all-products:hover {
    color: #F27536;
    text-decoration: none;
}

/*--------------------------------------------------------------------About Us Section*/
/*-----------------------------------------------------------About Us*/

.aboutusimg {
    margin-top: 30px;
}

.aboutus-heading {
    margin-top: 30px;
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
}

.aboutus-text {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    padding: 0 30px;
    margin-top: 15px;
}

/*-----------------------------------------------------------Why Us*/

.table-bordered tbody tr td {
    border: 1px solid #f5f5f5;
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.whyus-heading {
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------Reviews*/

.reviewsheading {
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.customerimg {
    border-radius: 60%;
    margin-top: 20px;
    width: 20%;
}

.customertext {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

/*--------------------------------------------------------------------End of About Us Section*/

/*--------------------------------------------------------------------Products*/

.productstoggle a {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.productstoggle a:hover {
    color: #F27536;
    text-decoration: none;
}

.productsimg {
    margin-top: 20px;
    width: 70%;
}

.last-productimg {
    margin-bottom: 20px;
}

.products-title {
    margin-top: 50px;
    color: #FEF9F6;
    font-family: "Lobster",sans-serif;
}

.products-subtitle {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    font-weight: 500;
}

.products-detail {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    margin-top: 10px;
}

.price {
    margin-left: 10px;
    text-decoration: none;
}

/*--------------------------------------------------------------------Home Treatment*/

.nano-video {
    margin-top: 30px;
}

.nano-chip {
    margin-top: 30px;
    font-family: "Lobster", sans-serif;
    color: #FEF9F6;
    font-size: 20px;
}

.carousel-control-prev i, .carousel-control-next i {
    color: #f7a983;
    font-size: 30px;
}

.nano-title {
    margin-top: 30px;
    font-family: "Lobster", sans-serif;
    color: #FEF9F6;
    font-size: 20px;
}

.nano-details li {
    list-style-type: circle;
    color: #FEF9F6;
}

.nano-details li p {
    margin-top: 20px;
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.serum-heading {
    font-family: "Lobster", sans-serif;
    color: #FEF9F6;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.serum-products h3 {
    font-family: "Montserrat", sans-serif;
    color: #FEF9F6;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.serum-products p {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.serum-products {
    margin-bottom: 20px; 
}

/*--------------------------------------------------------------------Contact*/

.inquiry-title {
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    margin-top: 15%;
    text-decoration: underline;
}

.inquiry-text {
    color: #FEF9F6;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.form-title {
    color: #FEF9F6;
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

form button {
    margin-bottom: 30px;
    color: #F27536;
}

.media-inquiry {
    list-style-type: none;
    position: relative;
    top: 28%;
    right: 50px;
}

.media-inquiry li {
    margin-top: 50px;
}

.media-inquiry li a {
    color: #FEF9F6;
    font-size: 25px;
}

.media-inquiry li a:hover {
    color: #F27536;
    text-decoration: none;
}

.media-inquiry li a em {
    margin-left: 10px;
    font-size: 18px;
}

/*---------------------------------------------------------------------Footer*/

.footer-hr {
    margin: 0;
    border-color: #FEF9F6;
}

.socialmedia li a {
    font-size: 22px;
    color: #FEF9F6;
}

.socialmedia li a i {
    margin-top: 1em;
    margin-right: 5px;
    margin-left: 30px;
}

.socialmedia li a em {
    color: #FEF9F6;
    margin-top: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.socialmedia li a:hover {
    text-decoration: none;
    color: #F79683;
}

/* ----------------------------------------Media Queries */

@media(max-width: 768px) {
    .only-mobile {
        display: block;
    }

    .products-title {
        margin-top: 10px;
    }

    .productsimg {
        width: 100%;
    }
}